parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     ~
    database_user:     ~
    database_password: ~
    secret: SetYourSecretTokenForSecurityReasons
    rss_url: http://www.vg.no/rss/feed/forsiden/?frontId=1
    json_url: http://rexxars.com/playground/testfeed/
    varnish_log_url: http://tech.vg.no/intervjuoppgave/varnish.log
