{%  extends 'StandardCodeTestBundle:Framework:index.html.twig' %}
{% block title %}JSON feed{% endblock %}
{% block content %}
    <div class="row">
        <div class="medium-12 columns">
            <h1>Json Feed</h1>

            <ul class="no-bullet">
            {% for item in items %}
               <li><a href="{{ item.link }}">{{ item.title }}</a> {{ item.date }} {{ item.time }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}